<div class="row" style="margin: 0px;">
  <div class="col-12">
    <h1 class="welcome-text text-center" style="margin: 70px 0px 0px; color: #C52F24;">You are not authorized to access this page.</h1>
  </div>
</div>