<form>
<div class="row" style="margin: 0px;">
  <div class="col-12">
    <div class="login-form">
      <div class="nt-input">
        <input type="text" placeholder="Email"/>
      </div>
      <div class="nt-input">
        <input type="password" placeholder="Password"/>
      </div>
      <button type="button" class="btn btn-danger w-100">Login</button>
    </div>
  </div>
</div>
</form>