
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC82TqNKcy4RjJs-Pj-7Y-FK76RlUeEV5s&callback=initMap">
</script>

<script src="/js/echarts/echarts.min.js"></script>

<div class="row" style="margin: 0px;">
  <div class="col-12">
    <h1 class="welcome-text text-center" style="margin: 70px 0px 0px;">Network Explorer</h1>
    <p class="text-center" style="font-size: 14px; margin-bottom: 25px;">Learn information about a site or IP address</p>
    <div class="login-form" style="">
      <form method="get">
        <div class="row">
          <div class="col-8" style="padding: 0px;">
            <input type="text" class="form-control" style="height: 46px;" name="query">
          </div>
          <div class="col-4" style="padding: 0px 0px 0px 5px;">
            <button type="submit" class="btn btn-danger w-100">Explore</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row mt-5" style="margin-left: 0px; margin-right: 0px;">
  <div class="col-md-12 col-lg-10 offset-lg-1">
    <h5 class="welcome-text">WHOIS</h5>
    <div class="nt-panel">
      <div class="w-100" style="margin: 0px; padding: 0px;">
        <div class="stats-cell">
          <div class="stats">
            <div>Netrange</div>
            <div>180 M</div>
          </div>
        </div><!--
        --><div class="stats-cell">
          <div class="stats">
            <div>Cidr</div>
            <div>324RTFG</div>
          </div>
        </div><!--
        --><div class="stats-cell">
          <div class="stats">
            <div>Name</div>
            <div>TEL-DK-NT</div>
          </div>
        </div><!--
        --><div class="stats-cell">
          <div class="stats">
            <div>Parent</div>
            <div>456YHGB</div>
          </div>
        </div><!--
        --><div class="stats-cell">
          <div class="stats">
            <div>Net Type</div>
            <div>12RTY7</div>
          </div>
        </div><!--
        --><div class="stats-cell">
          <div class="stats">
            <div>Origin As</div>
            <div>TELECOM AS</div>
          </div>
        </div><!--
        --><div class="stats-cell">
          <div class="stats">
            <div>Organization</div>
            <div>TELECOM.NET</div>
          </div>
        </div><!--
        --><div class="stats-cell">
          <div class="stats">
            <div>Reg.Date</div>
            <div>24.02.2017</div>
          </div>
        </div><!--
        --><div class="stats-cell">
          <div class="stats">
            <div>Last Update</div>
            <div>TODAY</div>
          </div>
        </div>
      </div>
    </div>
    <h5 class="welcome-text mt-4">GEOIP</h5>
    <div class="nt-panel">
      <div class="row no-gutters">
        <div class="col-sm-6 col-md-3">
          <div class="stats">
            <div>City</div>
            <div>NEW YORK</div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="stats">
            <div>State</div>
            <div>ny</div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="stats">
            <div>Country</div>
            <div>US</div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="stats">
            <div>Long/Lat</div>
            <div>58.38930, -101.52910</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2 mb-5" style="margin-left: 0px; margin-right: 0px;">
  <div class="col-md-12 col-lg-10 offset-lg-1">
    <div id="map"></div>
  </div>
</div>

<div class="row" style="margin-left: 0px; margin-right: 0px; display:flex;">
  <div class="col-sm-12 col-md-6 col-lg-5 offset-lg-1" style="display: flex; flex-direction: column;">
    <div class="nt-panel mb-5" style="padding: 0px; height: 100%;">
      <div class="clearfix nt-panel-header">
        <div class="header-title" style="float: left;">
          <h5 class="welcome-text mb-0" style="padding-top: 10px;">Domain</h5>
        </div>
        <div class="header-tools" style="float: right">
          <div class="nt-dropdown-group" style="display: inline">
            <button type="button" class="btn btn-link dropdown-button" style="font-size: 13px; padding: 10px 20px;">
              <span style="color: #193053;">Show:10</span>&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-down" style="color: #193053;"></i>
            </button>
            <div class="nt-dropdown" style="width: max-content; display: none;">
              <img class="caret" src="/images/caret.png"/>
              <a class="opt-selected" href="javascript:void(0)">Show: 10</a>
              <a class="" href="javascript:void(0)">Show: 100</a>
              <a class="" href="javascript:void(0)">Show: 1000</a>
            </div>
          </div>

          <div class="nt-dropdown-group" style="display: inline">
            <button type="button" class="btn btn-danger dropdown-button" style="font-size: 13px; padding: 10px 20px">
              <span style="color: white;">Export</span>&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-down" style="color:white;"></i>
            </button>
            <div class="nt-dropdown" style="width: max-content; display: none;">
              <img class="caret" src="/images/caret.png"/>
              <a class="opt-selected" href="javascript:void(0)">Export</a>
              <a class="" href="javascript:void(0)">Export all</a>
            </div>
          </div>
        </div>
      </div>
      <div class="nt-panel-body" style="margin: 0px 20px 20px 20px; overflow: auto;">
        <table class="domain-table">
          <thead>
            <tr>
              <th>DOMAIN NAME</th>
              <th># REQUESTS</th>
              <th>LAST CHECK</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-text">jqoeugnvmapqurnz</td>
              <td class="table-text">24</td>
              <td class="table-text">19th Feburary 2019 - 3:58pm</td>
            </tr>
            <tr>
              <td class="table-text">jqoeugnvmapqurnz</td>
              <td class="table-text">24</td>
              <td class="table-text">19th Feburary 2019 - 3:58pm</td>
            </tr>
            <tr>
              <td class="table-text">jqoeugnvmapqurnz</td>
              <td class="table-text">24</td>
              <td class="table-text">19th Feburary 2019 - 3:58pm</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-5" style="display: flex; flex-direction: column;">
    <div class="nt-panel mb-5" style="padding: 0px; height: 100%;">
      <div class="clearfix nt-panel-header" style="border-bottom: 1px solid #e6e6e6d6;">
        <div class="header-title" style="float: left;">
          <h5 class="welcome-text mb-0" style="padding-top: 10px;">Domain</h5>
        </div>
        <div class="header-tools" style="float: right">
          <div class="nt-dropdown-group" style="display: inline">
            <button type="button" class="btn btn-link dropdown-button" style="font-size: 13px; padding: 10px 20px;">
              <span style="color: #193053;">Show:10</span>&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-down" style="color: #193053;"></i>
            </button>
            <div class="nt-dropdown" style="width: max-content; display: none; z-index: 999;">
              <img class="caret" src="/images/caret.png"/>
              <a class="opt-selected" href="javascript:void(0)">Show: 10</a>
              <a class="" href="javascript:void(0)">Show: 100</a>
              <a class="" href="javascript:void(0)">Show: 1000</a>
            </div>
          </div>
          
          <div class="nt-dropdown-group" style="display: inline">
            <button type="button" class="btn btn-danger dropdown-button" style="font-size: 13px; padding: 10px 20px">
              <span style="color: white;">Export</span>&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-down" style="color:white;"></i>
            </button>
            <div class="nt-dropdown" style="width: max-content; display: none;">
              <img class="caret" src="/images/caret.png"/>
              <a class="opt-selected" href="javascript:void(0)">Export</a>
              <a class="" href="javascript:void(0)">Export all</a>
            </div>
          </div>
        </div>
      </div>
      <div class="nt-panel-body">
        <div id="chart" style="width: 100%; height: 420px; background: red;"></div>
      </div>
    </div>
  </div>
</div>

<script>
let map;
var myChart = echarts.init(document.getElementById('chart'));

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: -34.397, lng: 150.644 },
    zoom: 8,
  });
}

$(document).ready(function() {
  myChart.showLoading();
  $.getJSON('https://echarts.apache.org/examples/data/asset/data/npmdepgraph.min10.json', function (json) {
    myChart.hideLoading();
    myChart.setOption(option = {
      title: {
          text: 'NPM Dependencies'
      },
      animationDurationUpdate: 1500,
      animationEasingUpdate: 'quinticInOut',
      series : [
        {
          type: 'graph',
          layout: 'none',
          // progressiveThreshold: 700,
          data: json.nodes.map(function (node) {
            return {
              x: node.x,
              y: node.y,
              id: node.id,
              name: node.label,
              symbolSize: node.size,
              itemStyle: {
                  color: node.color
              }
            };
          }),
          edges: json.edges.map(function (edge) {
            return {
              source: edge.sourceID,
              target: edge.targetID
            };
          }),
          emphasis: {
            label: {
              position: 'right',
              show: true
            }
          },
          roam: true,
          focusNodeAdjacency: true,
          lineStyle: {
            width: 0.5,
            curveness: 0,
            opacity: 0.7
          }
        }
      ]
    }, true);
  });  
});
</script>