
<script src="/js/echarts/echarts.min.js"></script>

<div class="row" style="margin: 0px;">
  <div class="col-12">
    <h1 class="welcome-text text-center" style="margin: 70px 0px 0px;">Network Explorer</h1>
    <p class="text-center" style="font-size: 14px; margin-bottom: 25px;">Learn information about a site or IP address</p>
    <div class="login-form" style="">
      <form method="get">
        <div class="row">
          <div class="col-8" style="padding: 0px;">
            <input type="text" class="form-control" style="height: 46px;" name="query" value="<%= params[:query] %>">
          </div>
          <div class="col-4" style="padding: 0px 0px 0px 5px;">
            <button type="submit" class="btn btn-danger w-100">Explore</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<% if @errorMsg %>
<div class="row mt-5" style="margin-left: 0px; margin-right: 0px;">
  <div class="col-md-12 col-lg-10 offset-lg-1">
    <div class="alert alert-warning" role="alert">
      <%=@errorMsg%>
    </div>
  </div>
</div>
<% end %>