/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: white;
}

* {
    color: #757575;
}

a {
    color: #595959;
    text-decoration: underline;
}

a:hover {
    color: #595959;
}

div.nt-panel {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

div.nt-container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: white;
}

div.nt-header {
    position: relative;
    width: 100%;
    height: 100px;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.05) 0px 1px 16px 4px;
}

div.nt-footer {
    width: 100%;
    height: 60px;
    background: white;
    position: relative;
    box-shadow: rrgba(100, 100, 111, 0.01) 0px 1px 14px 1px;
    padding-top: 20px;
}

div.nt-body {
    width: 100%;
    min-height: calc(100vh - 160px);
    background: #f9fbfc;
}

button.nt-button {
    background: #ee5149;
}

.welcome-text {
    color: #193053;
}

div.light-color {
    color: #595959;
}

div.login-form {
    padding: 5px;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

div.nt-input {
    height: 50px;
    padding: 12px 20px;
    margin-bottom: 17px;
    border-radius: 5px;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

div.nt-input > input {
    width: 100%;
    border: none;
}

div.nt-input > input:focus {
    outline: none;
    outline-width: 0;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

button.btn-danger {
    background-color: #ee5149;
    border-color: #ee5149;
    padding: 10px;
}

.normal-font-weight {
    font-weight: 300;
}

div.nt-panel {
    padding: 15px;
    border-radius: 5px;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

div.nt-panel-header {
    padding: 30px;
}

.stats {
    text-align: center;
    padding-top: 5px;
}

.stats > div:first-child {
    color: #757575;
    font-size: 12px;
    font-weight: 300;
}

.stats > div:nth-child(2) {
    color: #193053;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.stats-cell {
    width: 50%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 576px) {
    .stats-cell {
        width: 33%;
    }
}

@media (min-width: 768px) {
    .stats-cell {
        width: 33%;
    }
}

@media (min-width: 992px) {
    .stats-cell {
        width: 11%;
    }
}

@media (min-width: 1200px) {
    .stats-cell {
        width: 11%;
    }
}

#map {
    width: 100%;
    height: 360px;
    border-radius: 5px;
}

table.domain-table {
    width: 100%;
    min-width: 380px;
    font-size: 12px;
}

table.domain-table thead {
    background: #f9fafc;
}

table.domain-table th {
    color: #98a3b7;
    font-weight: 300;
}

table.domain-table thead th {
    padding-top: 10px;
    padding-bottom: 10px;
}

table.domain-table thead th {
    padding-top: 10px;
    padding-bottom: 10px;
}

table.domain-table tbody tr {
    border-bottom: 1px solid #e9ecf3;
}

table.domain-table tbody td {
    padding-top: 15px;
    padding-bottom: 15px;
}
table.domain-table tbody > tr:last-of-type {
    border-bottom: none!important;
}


.table-text {
    color: #193053;
    font-weight: 500;
}

.row-border {
    background: #e9ecf3;
    width: 100%;
    height: 1px;
}


div.nt-dropdown-group {
    font-size: 13px;
    position: relative;
    width: max-content;
}

div.nt-dropdown-group > button.btn-link:hover, div.nt-dropdown-group > button.btn-link:focus {
    text-decoration: none;
}

div.nt-dropdown-group > button.btn:focus {
    outline: none;
    box-shadow: none;
}

div.nt-dropdown {
    position: absolute;
    right: 25px;
    top: 23px;
    padding: 10px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.25) 0px 8px 24px;
}

div.nt-dropdown a {
    display: block;
    text-decoration: none;
    font-size: 13px;
    color: #757575;
    line-height: 25px;
}

div.nt-dropdown a:hover {
    color: #ee5149;
}

div.nt-dropdown a.opt-selected {
    color: #ee5149;
}

div.nt-dropdown .caret {
    position: absolute;
    right: 0px;
    top: -5px;
}

.copyright {
    font-weight: 300;
    font-size: 14px;
}

a.footer-link {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}